<mat-card>
    <mat-card-header>
        <mat-card-title>
            <button mat-icon-button matTooltip="Atrás" color="warn" routerLink="..">
                <mat-icon> keyboard_arrow_left </mat-icon>
            </button>
            Editando factura {{form ? '(' + form.get('visualID').value + ')' : ''}}
        </mat-card-title>
    </mat-card-header>

    <if-form *ngIf="form && style" [form]="form" [style]="style" [defaultCol]="4" (data)="edit()" (cancel)="goBack()"
        labelAccept="Editar"></if-form>
</mat-card>
