<mat-card *ngIf="form">
    <mat-card-header>
        <mat-card-title>
            <button mat-icon-button matTooltip="Atrás" color="warn" routerLink="..">
                <mat-icon> keyboard_arrow_left </mat-icon>
            </button>
            Editando factura {{form ? '(' + form.get('visualID').value + ')' : ''}}
        </mat-card-title>
    </mat-card-header>

    <h4>Datos generales de la factura</h4>
    <if-form [form]="form" [style]="style" [defaultCol]="4" [cancelButton]="false" [acceptButton]="false" labelAccept="Añadir"></if-form>

    <h4>Lineas de factura</h4>
    <ng-container *ngFor="let styleLine of invoiceLinesStyles; let i = index">
        <if-form *ngIf="styleLine" [cancelButton]="false" [acceptButton]="false" [form]="invoiceLinesForm[i]" [style]="styleLine"></if-form>
    </ng-container>

    <div class="add-button">
        <button (click)="addLine()" color="primary" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteLine()" color="warn" mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <mat-card-actions class="bottom-buttons">
        <button class="accept-button" mat-button [disabled]="form.invalid" color="primary" (click)="edit()">Editar</button>
        <button type="button" mat-button color="warn" (click)="goBack()">Cancelar</button>
    </mat-card-actions>

</mat-card>
