<div class="chart-container">

    <mat-card>
        <mat-card-content>
            <canvas baseChart *ngIf="chart && chart.length" [datasets]="chart" [labels]="labels" [colors]="colors"
                chartType="line"></canvas>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-content>
            <canvas baseChart *ngIf="total && total.length" [datasets]="total" [labels]="labels" [colors]="colorTotal"
                chartType="bar"></canvas>
        </mat-card-content>
    </mat-card>

</div>
