<mat-card class="year-container">
    <button (click)="lessYear()" [disabled]="year === min" mat-icon-button>
        <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1>Año {{year}}</h1>
    <button (click)="moreYear()" [disabled]="year === max" mat-icon-button>
        <mat-icon>keyboard_arrow_right</mat-icon>
    </button>
</mat-card>

<div class="chart-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Ganancias y pérdidas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <canvas baseChart *ngIf="chart && chart.length" [datasets]="chart" [labels]="labels" [colors]="colors"
                chartType="line"></canvas>
        </mat-card-content>
    </mat-card>

    <mat-card>
        <mat-card-header>
            <mat-card-title>Total de facturas</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <canvas baseChart *ngIf="total && total.length" [legend]="false" [datasets]="total" [labels]="labels"
                [colors]="colorTotal" chartType="bar"></canvas>
        </mat-card-content>
    </mat-card>

</div>
