@import '~@angular/material/theming';
@include mat-core();

mat-card-content {
    overflow-x: auto;

    mat-form-field {
        width: 100%;

    }

    table {
        width: 100%;
        min-width: 30rem;

        .row-item {
            cursor: pointer;

            &:hover {
                background-color: #1565c060;
            }
        }
    }
}
