mat-card-content {
    overflow-x: auto;

    mat-form-field {
        width: 100%;
    }

    table {
        width: 100%;
        min-width: 30rem;

        .row-item {
            cursor: pointer;
        }
    }
}
