<mat-card>
    <mat-card-header>
        <mat-card-title>Invoices</mat-card-title>
        <button mat-icon-button routerLink="./new" color="primary" class="right-top-button">
            <mat-icon> add </mat-icon>
        </button>
    </mat-card-header>

    <mat-card-content>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero laboriosam cumque fuga, laborum magnam, quia
        nulla tempora, aliquid ducimus ipsum debitis optio eum molestiae. Consequatur, eaque. Vel eligendi ut
        reiciendis!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis ea tempore nulla dignissimos nam, eveniet
        voluptatum, molestiae odio cupiditate dolorum repudiandae reprehenderit. Expedita modi, odit ducimus voluptas
        tenetur neque! Quas?
    </mat-card-content>
</mat-card>
