main {
    height: 100%;

    &.logged {
        mat-sidenav-container {
            height: calc(100% - 64px);
            background: url('../../assets/imgs/backgroundLogged.jpg');
            background-size: cover;
        }
    }

    mat-toolbar-row {
        span {
            margin: 0 auto;
            cursor: pointer;
        }

        height: 64px !important;
    }

    mat-sidenav-container {
        height: 100%;

        mat-sidenav-content {
            margin: 1rem;
        }
    }

    mat-sidenav .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        button {
            width: 100%;
            height: 3.5rem;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
    }
}
