main {
    height: 100%;

    &.logged {
        mat-sidenav-container {
            height: calc(100% - 64px);

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url('../../assets/imgs/backgroundLogged.webp');
                background-size: cover;
                filter: brightness(0.7);
            }

            mat-sidenav-content {
                padding: 1rem;
            }
        }
    }

    mat-toolbar-row {
        span {
            margin: 0 auto;
            cursor: pointer;
        }

        height: 64px !important;
    }

    mat-sidenav-container {
        height: 100%;
    }

    mat-sidenav .menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        button {
            width: 100%;
        }

        mat-slide-toggle,
        button {
            min-width: 10.5rem;
            height: 3.5rem;
            display: flex;
            padding-left: 2.5rem;
        }
    }

    footer {
        position: absolute;
        bottom: 0;
    }

}
