/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: if-sans;
    src: url('./assets/fonts/GoogleSans-Regular.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: if-sans, "Helvetica Neue", sans-serif;
    text-align: justify;

    .right-top-button {
        position: absolute !important;
        right: .5rem;
        top: .5rem;
    }

    // FORMS
    mat-form-field {
        width: 100%;

        textarea,
        &.textarea {
            height: 100%;
        }

        .right {
            text-align: end;
        }
    }

    .input-error {
        border-color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    mat-card {
        margin-bottom: 1rem;
    }

    .mat-form-field-suffix {
        position: initial;
    }

    th,
    td {
        text-align: center !important;
    }

    .mat-form-field-wrapper {
        height: 91%;

        .mat-form-field-flex {
            height: 100%;
        }
    }


    .bottom-buttons {
        .mat-figure {
            justify-content: flex-start;
        }
    }

    .mat-form-field-infix {
        height: 83%;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }


    .accept-button {
        display: inline;
    }

    .disabled {
        cursor: wait;
    }

    .mat-sort-header-button {
        margin: 0 auto;
    }
}


.dark {
    .file {

        .file-label,
        span {
            color: white !important;
        }
    }
}

.file-grid {
    figure {
        display: flex;
        align-items: end;
        margin-top: 1rem;
    }
}
