/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: if-sans;
    src: url('./assets/fonts/GoogleSans-Regular.ttf');
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: if-sans, "Helvetica Neue", sans-serif;
}
