/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: if-sans;
    src: url('./assets/fonts/GoogleSans-Regular.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: if-sans, "Helvetica Neue", sans-serif;
    background: url('./assets/imgs/background.jpg') no-repeat #000;
    background-size: 100% 100%;
}
