/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: if-sans;
    src: url('./assets/fonts/GoogleSans-Regular.ttf');
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: if-sans, "Helvetica Neue", sans-serif;
    text-align: justify;

    .right-top-button {
        position: absolute !important;
        right: .5rem;
        top: .5rem;
    }

    mat-form-field {
        width: 100%;

        &:not(.filter) {
            padding: 0 1rem;
        }
    }

    .input-error {
        border-color: red;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    ng2-adsense {
        margin: 0 auto;
    }

    mat-card {
        margin-bottom: 1rem;
    }
}
