.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    h1 {
        text-align: center;
        width: 100%;
        color: white;
    }

    mat-card {
        mat-form-field {
            width: 100%;

            input {
                width: 100%;
            }
        }

        mat-card-actions {
            width: 100%;
            padding: 0;
            margin: 0;

            button {
                width: 100%;
            }
        }
    }
}
