<div class="container">
    <h1>Isofocus</h1>

    <img alt="logo" src="../../favicon.ico">

    <mat-card>
        <form (submit)="login()" [formGroup]="formLogin">
            <mat-form-field>
                <input matInput placeholder="Email" formControlName="email">
                <mat-error *ngIf="formLogin.get('email').hasError('email') && !formLogin.get('email').hasError('required')">
                    Por favor, introduce un email valido
                </mat-error>
                <mat-error *ngIf="formLogin.get('email').hasError('required')">
                    El email es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error *ngIf="formLogin.get('password').hasError('required')">
                    La contraseña es <strong>requerida</strong>
                </mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-button color="primary">Login</button>
                <button mat-button type="button" routerLink="./register" color="accent">Registrarse</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
