.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    background: url('../../../assets/imgs/background.webp');
    background-size: cover;

    img {
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    h1,
    h2 {
        text-align: center;
        width: 100%;
        color: white;
    }

    mat-card {
        max-width: 30rem;

        mat-form-field {
            width: 100%;

            input {
                width: 100%;
            }
        }

        mat-card-actions {
            width: 100%;
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }

    .login {
        color: white;
    }

    button {
        font-size: 1rem;
    }
}
