<div class="container">
    <h1>Isofocus</h1>
    <h2>Registro</h2>

    <img alt="logo" src="../../favicon.ico">

    <mat-card>
        <form (submit)="register()" [formGroup]="formRegister">

            <mat-form-field appearance="outline">
                <mat-label>Nombre</mat-label>
                <input matInput formControlName="name">
                <mat-error *ngIf="formRegister.get('name').hasError('required')">
                    El nombre es <strong>requerido.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>DNI/CIF</mat-label>
                <input matInput type="text" formControlName="dni">
                <mat-error *ngIf="formRegister.get('dni').hasError('required')">
                    El DNI/CIF es <strong>requerido.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email">
                <mat-error *ngIf="formRegister.get('email').hasError('email') && !formRegister.get('email').hasError('required')">
                    Intoroduce un email valido.
                </mat-error>
                <mat-error *ngIf="formRegister.get('email').hasError('required')">
                    El correo es <strong>requerido.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input matInput type="password" formControlName="password">
                <mat-error *ngIf="formRegister.get('password').hasError('required')">
                    La contraseña es <strong>requerida.</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Repite la contraseña</mat-label>
                <input matInput type="password" formControlName="rePassword">
                <mat-error *ngIf="formRegister.get('rePassword').hasError('required')">
                    La contraseña es <strong>requerida.</strong>
                </mat-error>
            </mat-form-field>

            <mat-card-actions>
                <button mat-button color="primary">Registrarse</button>
                <button mat-button type="button" routerLink="/auth" color="warn">Atrás</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>
