<mat-card *ngIf="form">
    <mat-card-header>
        <mat-card-title>
            <button matTooltip="Atrás" mat-icon-button color="warn" routerLink="..">
                <mat-icon> keyboard_arrow_left </mat-icon>
            </button>
            Añadiendo factura
        </mat-card-title>
    </mat-card-header>

    <if-form [form]="form" [style]="style" [defaultCol]="4" [acceptButton]="false" [cancelButton]="false"></if-form>

    <mat-divider></mat-divider>

    <ng-container *ngFor="let styleArray of invoiceLinesStyles; let i = index">
        <if-form [form]="invoiceLinesForm[i]" [style]="styleArray" [defaultCol]="4" [acceptButton]="false"
            [cancelButton]="false"></if-form>
    </ng-container>

    <div class="add-button">
        <button (click)="addLine()" color="primary" mat-icon-button>
            <mat-icon>add</mat-icon>
        </button>
        <button (click)="deleteLine()" color="warn" mat-icon-button>
            <mat-icon>remove</mat-icon>
        </button>
    </div>

    <mat-card-actions>
        <div class="accept-button" [ngClass]="{'disabled': !form.valid}" [matTooltip]="!form.valid ? 'Completa todos los campos' : ''">
            <button mat-button (click)="create()" color="primary" [disabled]="!form.valid">Añadir</button>
        </div>
        <button mat-button (click)="goBack()" type="button" color="warn">Cancelar</button>
    </mat-card-actions>
</mat-card>
